html,
body {
    height: 100%;
   background-color: white;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
#one{
    float: left;
     
}
#two{
    float: right;
}

.tbutton {
      display: ;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
    background-color: white;
    background-repeat:no-repeat;
    border:solid black 2px;
    cursor:pointer;
    overflow: ;
position: absolute;
left:570px;
margin-top: 25px;
left:350px;


text-transform: 0.1s background-color linear, 0.1s color linear
    
  }
  .tbutton:hover,
.tbutton:focus,
.tbutton:active {
  background: black;
  color: white;
  transition: all 0.2s ease-in;
}
.tbutton:focus {
  outline: none;
}
.t1button {
      display: ;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
    background-color: white;
    background-repeat:no-repeat;
    border:solid black 2px;
    cursor:pointer;
    overflow: ;
position:absolute; ;
left:920px;
margin-top: 25px;

text-transform: 0.1s background-color linear, 0.1s color linear
    
  }
  .t1button:hover,
.t1button:focus,
.t1button:active {
  background: black;
  color: white;
  transition: all 0.2s ease-in;
}
.t1button:focus {
  outline: double;
}

.allpics{
border-radius: 13px;

}
#square {
  width: 300px;
  height: 200px;
  background:   #FFFAF0;
}
#img{
  -moz-border-radius: 50px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-top: 8px;
  margin-left: 8px;
}
 .rbutton:hover,
.rbutton:focus,
.rbutton:active {
  background: black;
  color: white;
  transition: all 0.2s ease-in;
}
.rbutton:focus {
  outline: none;
}
.rbutton {
      display: ;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 280px;
  height: 22px;
  margin-top: 40px;
  margin-left: 8px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
    background-color: #FFFAF0;
    background-repeat:no-repeat;
    border:solid gray 2px;
    cursor:pointer;
    overflow: ;

text-transform: 0.1s background-color linear, 0.1s color linear
    
  }
  .rbutton:hover,
.rbutton:focus,
.rbutton:active {
  background: black;
  color: white;
  transition: all 0.2s ease-in;
}
.rbutton:focus {
  outline: double;
}
#square2 {
  width: 100px;
  height: 100px;
  background: #FFFAF0;
  position: absolute;
  top: 236px;
  right: 1000px;
}
#square3 {
 background: black;
  width: 280px;
  height: 30px;
  position: absolute;
  top: 340px;
  left: 160px;
  font-size: 10px;
  color: gray;
  background:#FFFAF0;
}
#sen1{
  position: absolute;
  top: 378px;
  left:260px;
  color: black;
}
#lit{
  font-size: 8px;
  position: absolute;
}
#sen1:active{
  background: black;
  color: white;
  transition: all 0.2s ease-in;
}
#second{
  position: absolute;
  top:100px;
  margin-left: 321px;
  margin-top: 128px;

}
